.titulo-principal{
    padding-left: 30px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 34px;
}

#banner {
    width: 100%;
}

.principal{
    background: #CCCCCC;
    padding: 20px;
}

.titulo-centralizado {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    font-size: 25px;
}

p{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 22px;
}

em strong {
    font-family: "Josefin Sans", sans-serif;
    color: red;
}

#mision {
    font-family: "Josefin Sans", sans-serif;
    font-size: 20px;
}
.titulo-diferenciales{
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    text-align: center;

}

.diferenciales{
    display: flex;
    font-family: "Josefin Sans", sans-serif;
    background: #FFFFFF;
    padding: 10px;
    font-size: 25px;
    margin-left: 0;
}

.diferencialesTransicion{
    flex: 1;
    margin-bottom: 10px;
    margin-left: 0;
    width: 50%; /* ajusta el ancho según tus necesidades */
    height: 400px; /* ajusta la altura según tus necesidades */
    background-size: cover; /* asegura que la imagen cubra todo el contenedor */
    animation: cambioImagen 10s infinite; /* cambia la imagen cada 10 segundos, y se repite infinitamente */
}

ul{
    font-family: "Josefin Sans", sans-serif;
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 5%;
}
.items{
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    padding: 20px 0;
    font-size: 30px;
}

.imagenDiferenciales{
    width: 700px;
}

@keyframes cambioImagen {
    0% {
      background-image: url(imagenes/imagenes/imagen1.jpeg); /* primera imagen */
    }
    33% {
      background-image: url(imagenes/imagenes/imagen2.jpeg); /* segunda imagen */
    }
    66% {
      background-image: url(imagenes/imagenes/imagen3.jpeg); /* tercera imagen */
    }
    100% {
      background-image: url(imagenes/imagenes/imagen4.jpg); /* vuelve a la primera imagen */
    }
}